.vscode/**
.vscode-test/**
.github/**
src/**
venv/**
node_modules/**
out/test/**
agent/__pycache__/**
**/__pycache__/**
**/*.pyc
**/*.map
**/*.ts
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/.vscode-test.*
.gitignore
.yarnrc
.env
tsconfig.json
.eslintrc.json